doctype
html
    head
        link(rel="styleSheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="styleSheet", href="/vendor/toastr/toastr.css")
        link(rel="styleSheet", href="/css/site.css")
        base(href="/")
    body(ng-app="app")
        ul
            li
                a(href="/") Home
            li
                a(href="/contacts") Contacts

        block main-content
        include scripts